@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.parent {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("./../../images/pattern-background-desktop.svg");
}
@media screen and (max-width: 375px) {
  .parent {
    background-image: url("./../../images/pattern-background-mobile.svg");
  }
}

.background {
  width: 370px;
  height: 520px;
  background-color: hsl(225, 100%, 98%);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
@media screen and (max-width: 375px) {
  .background {
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  .background {
    height: 550px;
  }
}

.image {
  width: 100%;
  height: 160px;
}

.content {
  padding: 25px 0;
  border: 1px solid unset;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content .heading {
  position: relative;
  top: 12px;
}
.content .heading h3 {
  font-family: "Red Hat Display";
  color: hsl(223, 47%, 23%);
}
.content .desc {
  text-align: center;
  position: relative;
  width: 80%;
}
.content .desc span {
  font-family: "Red Hat Display";
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  line-height: 25px;
}
.content .plan {
  display: flex;
  border: 1px solid unset;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: "Red Hat Display";
}
.content .plan .left {
  display: flex;
  align-items: center;
}
.content .plan .left .annual-plan {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.content .plan .left .annual-plan :nth-child(1) {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}
.content .plan .left .annual-plan :nth-child(2) {
  color: hsl(224, 23%, 55%);
  margin-top: 2px;
}
.content .plan .change {
  color: hsl(245, 75%, 52%);
  font-size: 12.6px;
  cursor: pointer;
  text-decoration: underline;
}
.content .plan .change:hover {
  text-decoration: none;
  color: #746CEF;
}
.content .buttons {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
.content .buttons .btn-proceed {
  font-family: "Red Hat Display";
  border: 1px solid red;
  background-color: hsl(245, 75%, 52%);
  border: none;
  outline: none;
  padding: 1em 0;
  font-weight: 700;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
}
.content .buttons .btn-proceed:hover {
  background-color: #746CEF;
}
.content .buttons .btn-cancel {
  font-family: "Red Hat Display";
  border: 1px solid red;
  background: none;
  border: none;
  font-weight: 700;
  outline: none;
  padding: 1em 0;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}
.content .buttons .btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}
@media screen and (max-width: 375px) {
  .content {
    padding: 25px 30px;
  }
  .content .buttons {
    width: 100%;
  }
  .content .plan {
    width: 100%;
    padding: 0 12px;
  }
}/*# sourceMappingURL=style.css.map */